AWSTemplateFormatVersion: "2010-09-09"
Description: "RDS MySQL para la aplicación (alineado con backend)"

Parameters:
  VpcId:
    Type: String
  PrivateSubnetIds:
    Type: CommaDelimitedList
  DBName:
    Type: String
  DBUser:
    Type: String
  DBPassword:
    Type: String
    NoEcho: true
  DBAllocatedStorage:
    Type: Number
    Default: 20
  DBInstanceClass:
    Type: String
    Default: db.t3.micro

Resources:
  DBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "SG RDS MySQL - permite acceso desde VPC"
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 3306
          ToPort: 3306
          CidrIp: 10.0.0.0/16
          Description: "Acceso MySQL desde toda la VPC"
      Tags:
        - Key: Name
          Value: rds-mysql-sg

  DBParameterGroup:
    Type: AWS::RDS::DBParameterGroup
    Properties:
      Family: mysql8.0
      Description: "Parámetros MySQL para compatibilidad con Node.js"
      Parameters:
        default_authentication_plugin: mysql_native_password
        character_set_server: utf8mb4
        collation_server: utf8mb4_unicode_ci
        innodb_buffer_pool_size: "{DBInstanceClassMemory*3/4}"
        max_connections: "100"
        slow_query_log: "1"
        long_query_time: "2"
      Tags:
        - Key: Name
          Value: mysql-custom-params

  DBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: "Subnets privadas para RDS"
      SubnetIds: !Ref PrivateSubnetIds
      Tags:
        - Key: Name
          Value: rds-subnet-group

  DBInstance:
    Type: AWS::RDS::DBInstance
    Properties:
      Engine: mysql
      EngineVersion: "8.0"
      DBName: !Ref DBName
      MasterUsername: !Ref DBUser
      MasterUserPassword: !Ref DBPassword
      AllocatedStorage: !Ref DBAllocatedStorage
      DBInstanceClass: !Ref DBInstanceClass
      VPCSecurityGroups:
        - !Ref DBSecurityGroup
      DBSubnetGroupName: !Ref DBSubnetGroup
      PubliclyAccessible: false
      BackupRetentionPeriod: 1
      StorageType: gp2
      DeletionProtection: false
      MultiAZ: false
      DBParameterGroupName: !Ref DBParameterGroup
      StorageEncrypted: true
      MonitoringInterval: 0
    DeletionPolicy: Delete

Outputs:
  DBEndpoint:
    Value: !GetAtt DBInstance.Endpoint.Address
    Export:
      Name: project-db-endpoint
  DBPort:
    Value: !GetAtt DBInstance.Endpoint.Port
    Export:
      Name: project-db-port
  DBSecurityGroupId:
    Value: !Ref DBSecurityGroup
    Export:
      Name: project-db-sg-id
